If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [58]:
# for units
ones_dict = {1: 3, 2: 3, 3: 5, 4: 4, 5: 4, 6: 3, 7: 5, 8: 5, 9: 4}
teens_dict = {0: 3, 1: 6, 2: 6, 3: 8, 4: 7, 5: 7, 6: 7, 7: 9, 8: 9, 9: 8}

# for tens
ties_dict = {2: 6, 3: 6, 4: 5, 5: 5, 6: 5, 7: 7, 8: 6, 9: 6}

## 0-9

In [59]:
sum_in_tens = sum([value for value in ones_dict.values()]) #[0-9]

In [60]:
sum_in_tens

36

## 10-19

In [61]:
sum_in_teens = sum([value for value in teens_dict.values()]) #[10-19]

In [62]:
sum_in_teens

70

## 0 - 99

In [63]:
sum_in_hundreds = sum_in_teens #[10-19]
sum_in_hundreds += 9*sum_in_tens #9*[0-9] (0-9,20-29,30-39.. is 9 elements)
sum_in_hundreds += 10*sum([value for value in ties_dict.values()]) #10*[20-90] (20,21,22,23,24,25,26,27,28,29 is ten elements)

In [64]:
sum_in_hundreds

854

## 0-999

In [65]:
sum_to_999 = 10*sum_in_hundreds #[0-99]
sum_to_999 += sum([value + 7 for value in ones_dict.values()]) #1*[100-900]
sum_to_999 += 99*sum([value + 10 for value in ones_dict.values()]) # 99*[1xx-9xx]

In [66]:
sum_to_999

21113

## 0-1000

In [67]:
sum_to_1000 = sum_to_999 + 11 #1*[1000]

In [68]:
sum_to_1000

21124

# Final Answer:
# 21124