The smallest number expressible as the sum of a prime square, prime cube, and prime fourth power is 28. In fact, there are exactly four numbers below fifty that can be expressed in such a way:

28 = 2<sup>2</sup> + 2<sup>3</sup> + 2<sup>4</sup>  
33 = 3<sup>2</sup> + 2<sup>3</sup> + 2<sup>4</sup>  
49 = 5<sup>2</sup> + 2<sup>3</sup> + 2<sup>4</sup>  
47 = 2<sup>2</sup> + 3<sup>3</sup> + 2<sup>4</sup>  

How many numbers below fifty million can be expressed as the sum of a prime square, prime cube, and prime fourth power?

In [7]:
n = 7072
prime_list = []
prime = [True for i in range(n + 1)] 

p = 2
while (p <= n): 

    if (prime[p]): 
        prime_list.append(p)
        for i in range(p * 2, n + 1, p): 
            prime[i] = False
    p += 1

In [22]:
prime_list[0]

2

In [24]:
count = 0
num_dict = {}

for square in prime_list:
    for cube in prime_list:
        cube_num = square**2 + cube**3
        if cube_num >= 50000000:
            break
        for quad in prime_list:
            quad_num = square**2 + cube**3 + quad**4
            if quad_num < 50000000 and quad_num not in num_dict:
                num_dict[quad_num] = True
                count += 1
            elif quad_num >= 50000000:
                break

In [25]:
count

1097343

In [18]:
prime_list[-1]

7069